@model Asset_Management_System.Models.AssetManagementSystem.Facility
@{
    ViewBag.Title = "Resources";
}

<h2>Resources</h2>
<table class="table">
    <tr>
        <th>Resource Name</th>
        <th>Quantity</th>
        <th>Description</th>
        <th>Color</th>
        <th>Size</th>
        <th>Actions</th>
    </tr>


    @foreach (var resource in Model.Resources)
    {
        if (resource.IsActive)
        {
            <tr>
                <td>@resource.ResourceName</td>
                <td>@resource.Quantity</td>
                <td>@resource.Description</td>
                <td>@resource.Color</td>
                <td>@resource.Size</td>
                <td><a href="/Resources/UpdateQuantity/@resource.Id">Update Quantity</a></td>
            </tr>
        }
        if (Model.Resources.Count == 0)
        {
            <tr>
                <td>The Facility has no resources</td>
            </tr>
        }

    }
</table>
